body{
    background-color: rgb(44, 44, 44);
}
.topText{
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.firstImg{
    max-width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.firstImgDiv{
    align-items: center;
    text-align: center;
}

.prod{
    width: 40%;
    margin: 2%; 
}
.line1{
    align-items: center;
    justify-content: center;
    text-align: center;
}